.send-button{
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.input-text{
  padding: 12px 20px;
  border: 1px solid rgb(25, 135, 84);
  border-radius: 10px;
  font-size: 15px;
  flex-grow: 1;
}

.chat-input-container{
  display: flex;
  padding-top:20px
}